<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>Book Store</title>
</head>
<body>

<div align="center">	
	<div sec:authorize="isAuthenticated()">
		Welcome <b><span sec:authentication="name">Username</span></b>
		&nbsp;
		<i><span sec:authentication="principal.authorities">Roles</span></i>
	</div>

	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Logout" />
	</form>
	
	<h1>Book Store</h1>
	<div sec:authorize="hasAnyAuthority('CREATOR', 'ADMIN')">
		<a th:href="@{/bookList}">View BookList</a>
		<a th:href="@{/add}">Add New Book</a>
	</div>
	
	<br/><br/>
	<table border="1" cellpadding="10">
		<thead>
			<tr>
				<th>Product ID</th>
				<th>title</th>
				<th>author</th>
				<th>publisher</th>
				<th>publicationDate</th>
				<th>language</th>
				<th>ourPrice</th>
				<th>numberOfPages</th>
				<th>inStockNumber</th>
				
				<th sec:authorize="hasAnyAuthority('ADMIN', 'EDITOR')">Actions</th>				
				
			</tr>
		</thead>
		<tbody>

			<tr th:each="book : ${allBooks}">
				<td th:text="${book.title}">title</td>
				<td th:text="${book.author}">author</td>
				<td th:text="${book.publisher}">publisher</td>
				<td th:text="${book.publicationDate}">publicationDate</td>
				<td th:text="${book.language}">language</td>
				<td th:text="${book.ourPrice}">ourPrice</td>
				<td th:text="${book.numberOfPages}">numberOfPages</td>
				<td th:text="${book.inStockNumber}">inStockNumber</td>
				<div class="card-body">
					<img th:src="@{/image/book/}+${book.id}+'.png'" class="img-fluid mx-auto"/>
				</div>

				<td sec:authorize="hasAnyAuthority('ADMIN', 'EDITOR')">
					<a th:href="@{'/updateBook/' + ${book.id}}">Edit</a>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<a sec:authorize="hasAuthority('ADMIN')" th:href="@{'/delete/' + ${book.id}}">Delete</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
</body>
</html>